/* Center everything */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #e8f0fe;
  margin: 0;
  font-family: Arial, sans-serif;
  font-size: calc(10px + 0.6vw);
}

/* Register container */
.register-container {
  width: 60vw;
  max-width: 400px;
  min-width: 250px;
  background-color: white;
  padding: 3vw;
  border-radius: 1vw;
  box-shadow: 0 0 1vw rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

/* Title */
.register-container h2 {
  text-align: center;
  margin-bottom: 2vh;
  font-size: calc(1rem + 0.8vw);
}

/* Inputs */
.register-container input {
  width: 100%;
  padding: calc(0.6rem + 0.3vw);
  margin-bottom: 1.5vh;
  border: 1px solid #ccc;
  border-radius: 0.6vw;
  font-size: calc(0.8rem + 0.4vw);
  box-sizing: border-box;
}

/* Button */
.register-container button {
  width: 100%;
  padding: calc(0.8rem + 0.4vw);
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 0.6vw;
  cursor: pointer;
  
  font-size: calc(0.9rem + 0.4vw);
  transition: background-color 0.2s ease, transform 0.2s ease;
   margin-bottom: 1rem
}

.register-container button:hover {
  background-color: #1f7a34;
  transform: scale(1.02);
}

/* Message text */
.register-container p {
  text-align: center;
  margin-top: 1rem;
  font-size: calc(0.8rem + 0.3vw);
  color: #333;
}

/* Responsive small screens */
@media (max-width: 480px) {
  .register-container {
    width: 85vw;
    padding: 5vw;
  }
}
